<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-group">
  <br>

  <div class="form-row" [ngClass]="aplicaCssErro(nome)">
    <div class="form-group col-sm-12">
      <label for="nome" >Nome</label>
    </div>

    <div class="form-group col-sm-12">

        <input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="usuario.nome" name="nome"
        required #nome="ngModel">

        <app-campo-control-erro [mostrarErro]="verificaValidTouched(nome)"
                                msgErro="Nome é Obrigatorio">
        </app-campo-control-erro>
    </div>
  </div>

  <div class="form-row" [ngClass]="aplicaCssErro(email)">
    <div class="form-group col-sm-12">
      <label for="email"  >Email</label>
    </div>

    <div class="form-group col-sm-12">
      <input type="email" class="form-control" id="email" placeholder="nome@email.com" [(ngModel)]="usuario.email" name="email"
      required #email="ngModel">
      <div *ngIf="!email.valid && email.touched"
       class="alert alert-danger" role="alert">Email é Obrigatório</div>
      </div>
  </div>

  <div ngModelGroup="endereco">

  <div class="form-row">
    <div class="form-group col-md-3" [ngClass]="aplicaCssErro(cep)">
      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep"
        name="cep" ngModel required #cep="ngModel"
        (blur)="consultaCEP(cep.value, f)">
      <span class="glyphicon glyphicon-remove form-control-feedback"
      aria-hidden="true" *ngIf="!cep.valid && cep.touched"></span>
      <span class="sr-only" *ngIf="!cep.valid && cep.touched">(error)</span>
      <div *ngIf="!cep.valid && cep.touched" class="alert alert-danger" role="alert">CEP é Obrigatório</div>
    </div>
    <div class="form-group col-md-3" [ngClass]="aplicaCssErro(numero)">
      <label for="numero" class="control-label">Numero</label>
      <input type="text" class="form-control" id="numero"
        name="numero" ngModel required #numero="ngModel">
      <span class="glyphicon glyphicon-remove form-control-feedback"
      aria-hidden="true" *ngIf="!numero.valid && numero.touched"></span>
      <span class="sr-only" *ngIf="!numero.valid && numero.touched">(error)</span>
      <div *ngIf="!numero.valid && numero.touched" class="alert alert-danger" role="alert">Numero é Obrigatório</div>
    </div>
    <div class="form-group col-md-6">
      <label for="complemento" class="control-label">Complemento</label>
      <input type="text" class="form-control" id="complemento"
        name="complemento" ngModel #complemento="ngModel">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12">
        <label for="rua" >Rua</label>
  </div>

     <div class="form-group col-sm-12">
          <input type="text" class="form-control" id="rua" ngModel name="rua"
          required #rua="ngModel" readonly>
        <div *ngIf="!rua.valid && rua.touched"
              class="alert alert-danger" role="alert">Rua é Obrigatório
        </div>
     </div>
    </div>
    <div class="form-row">
     <div class="col-md-5 mb-3"[ngClass]="aplicaCssErro(bairro)">
       <label for="bairro" class="control-label">Bairro</label>
       <input type="text" class="form-control" id="bairro"
         name="bairro" ngModel required #bairro="ngModel">
       <span class="glyphicon glyphicon-remove form-control-feedback"
       aria-hidden="true" *ngIf="!bairro.valid && bairro.touched"></span>
       <span class="sr-only" *ngIf="!bairro.valid && bairro.touched">(error)</span>
       <div *ngIf="!bairro.valid && bairro.touched" class="alert alert-danger" role="alert">Bairro é Obrigatório</div>
     </div>
     <div class="form-group col-md-4 mb-3" [ngClass]="aplicaCssErro(cidade)">
       <label for="cidade" class="control-label">Cidade</label>
       <input type="text" class="form-control" id="cidade"
         name="cidade" ngModel required #cidade="ngModel">
       <span class="glyphicon glyphicon-remove form-control-feedback"
       aria-hidden="true" *ngIf="!cidade.valid && cidade.touched"></span>
       <span class="sr-only" *ngIf="!cidade.valid && cidade.touched">(error)</span>
       <div *ngIf="!cidade.valid && cidade.touched" class="alert alert-danger" role="alert">Cidade é Obrigatório</div>
     </div>
     <div class="form-group col-md-3">
       <label for="estado" class="control-label">Estado</label>
       <input type="text" class="form-control" id="estado"
         name="estado" ngModel #estado="ngModel">
     </div>
   </div>

  </div>

  <div>
      <button type="submit" class="btn btn-primary"
              [disabled]="!f.valid">Submit</button>
  </div>

  <app-form-debug [form]="f"></app-form-debug>
</form>
